@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    @apply font-mono;
  }
}

body {
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.btn {
  @apply flex h-fit cursor-pointer select-none disabled:cursor-default disabled:border-black disabled:bg-slate-950 disabled:text-slate-500 disabled:hover:bg-slate-900 disabled:hover:border-black;   
}

.btn-yellow {
  @apply btn;
  @apply border-yellow-950 bg-yellow-900 text-yellow-200 hover:bg-yellow-700 hover:border-yellow-900 active:bg-yellow-950;
}