@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    @apply font-mono;
  }
}

body {
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  -webkit-tap-highlight-color: transparent;
}

.btn {
  @apply flex h-fit cursor-pointer select-none disabled:cursor-default disabled:border-black disabled:bg-slate-950 disabled:text-slate-500 disabled:hover:bg-slate-900 disabled:hover:border-black;   
}

.btn-slate {
  @apply btn;
  @apply border-slate-950 bg-slate-800 text-slate-200 hover:bg-slate-600 hover:border-slate-900 active:bg-slate-950;
}

.btn-yellow {
  @apply btn;
  @apply border-yellow-950 bg-yellow-900 text-yellow-200 hover:bg-yellow-700 hover:border-yellow-900 active:bg-yellow-950;
}

.btn-orange {
  @apply btn;
  @apply border-orange-950 bg-orange-900 text-orange-200 hover:bg-orange-700 hover:border-orange-900 active:bg-orange-950;
}

.white-hover:hover {
  text-shadow: 0 0 10px white;
}

.bar {
  @apply w-full items-center justify-between overflow-hidden rounded-[6px] p-1 text-right
}

.price-tag {
  @apply flex items-center justify-end gap-1 text-sm font-bold
}

.list-wrapper {
  @apply flex flex-col gap-2
}

.list-header {
  @apply h-fit rounded-[14px] border-8 border-slate-800 bg-slate-950 px-2 py-4 text-center text-yellow-200
}

.list {
  @apply flex flex-col gap-2 rounded-[14px] bg-slate-800 p-2
}

.sweeper-header {
  @apply fixed left-2 right-2 lg:top-16 top-0 flex h-[3.5rem] w-[calc(100vw-1rem)] lg:max-w-[calc(1536px-1rem)] items-center justify-evenly rounded-[14px] border-8 border-slate-700 bg-slate-950 text-yellow-200 lg:mx-auto !important;
}

.toast-box {
  @apply opacity-0 transition-all duration-300 
}

.toast-box.entering {
  @apply opacity-0 bg-green-400 scale-y-0 translate-y-1/2
}

.toast-box.exiting {
  @apply opacity-0 bg-red-400 scale-y-0 translate-y-1/2
}

.toast-box.active {
  @apply opacity-100 scale-y-100
}

.toast-layout {
  transition: transform 0.5s ease-in-out;
}

.toast-list-entering {
  transform: translateY(0);
}

.toast-list-exiting {
  transform: translateY(-100%);
}
